**
!CMakeLists.txt
!main.cpp
!grammar.md
!src/
!src/**
!stdlib/
!stdlib/**
!tests/
!tests/**
!samples/
!samples/**
!microservicetemplate/
!microservicetemplate/**
cmake-build-debug/
cmake-build-debug/*
!cmake-build-debug/aura-compiler
cmake-build-release/
cmake-build-release/**
cmake-build-debug-coverage/
cmake-build-debug-coverage/**
